<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Teste de Auto Avaliação</ion-title>
    <ion-title> da Depressão (de Zung)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
  

  <ion-card-content>
    Depressão é uma doença que afeta um número significativo de pessoas nos dias atuais.
    Mas apesar dos dados ainda percebemos uma dificuldade muito grande para aceitação da 
    depressão como doença e assim uma dificuldade de se procurar ajuda especializada
    com médicos e psicólogos. Na tentativa de auxiliar estamos postando um teste para avaliação 
    dos sintomas e tomada de decisão para redução do sofrimento de forma eficaz.
  </ion-card-content>

  <ion-card-header>
    
    <ion-card-title>Responda rapidamente a seguir sem reflectir muito.</ion-card-title>
    <ion-card-subtitle></ion-card-subtitle>
  </ion-card-header>

</ion-card>

<ion-button expand="block" [routerLink]="['/p1']">
       Auto Avaliação
</ion-button>

</ion-content>
