<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Questionário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  <ion-card-content>
    <ion-list>
      <ion-radio-group>
        <ion-card-title>1 - Sinto-me triste. </ion-card-title>
        <ion-item>
          <ion-label>Sim</ion-label>
          <ion-radio value="Sim"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Não </ion-label>
          <ion-radio value="Nao"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>As vezes</ion-label>
          <ion-radio value="Asveze"></ion-radio>
        </ion-item>
      </ion-radio-group>

      <ion-card-header></ion-card-header>

      <ion-radio-group>
        <ion-card-title>2 - Sinto-me desesperançoso. </ion-card-title>
        <ion-item>
          <ion-label>Sim</ion-label>
          <ion-radio value="Sim"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Não </ion-label>
          <ion-radio value="Nao"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>As vezes</ion-label>
          <ion-radio value="Asveze"></ion-radio>
        </ion-item>
      </ion-radio-group>

      <ion-card-header></ion-card-header>

      <ion-radio-group>
        <ion-card-title>3 - Pensamentos negativos. </ion-card-title>
        <ion-item>
          <ion-label>Sim</ion-label>
          <ion-radio value="Sim"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Não </ion-label>
          <ion-radio value="Nao"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>As vezes</ion-label>
          <ion-radio value="Asveze"></ion-radio>
        </ion-item>
      </ion-radio-group>

      <ion-card-header></ion-card-header>

      <ion-radio-group>
        <ion-card-title>4 - Sinto-me vazio. </ion-card-title>
        <ion-item>
          <ion-label>Sim</ion-label>
          <ion-radio value="Sim"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Não </ion-label>
          <ion-radio value="Nao"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>As vezes</ion-label>
          <ion-radio value="Asveze"></ion-radio>
        </ion-item>
      </ion-radio-group>

      <ion-card-header></ion-card-header>

      <ion-radio-group>
        <ion-card-title>5 - Desinteresso-me pelas atividades que antes eram prazerosas. </ion-card-title>
        <ion-item>
          <ion-label>Sim</ion-label>
          <ion-radio value="Sim"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Não </ion-label>
          <ion-radio value="Nao"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>As vezes</ion-label>
          <ion-radio value="Asveze"></ion-radio>
        </ion-item>
      </ion-radio-group>

      <ion-card-header></ion-card-header>

      <ion-radio-group>
        <ion-card-title>6 - Sinto-me sem apetite. </ion-card-title>
        <ion-item>
          <ion-label>Sim</ion-label>
          <ion-radio value="Sim"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Não </ion-label>
          <ion-radio value="Nao"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>As vezes</ion-label>
          <ion-radio value="Asveze"></ion-radio>
        </ion-item>
      </ion-radio-group>

      <ion-card-header></ion-card-header>

      <ion-radio-group>
        <ion-card-title>7 - Tenho pensamentos suicidas. </ion-card-title>
        <ion-item>
          <ion-label>Sim</ion-label>
          <ion-radio value="Sim"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Não </ion-label>
          <ion-radio value="Nao"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>As vezes</ion-label>
          <ion-radio value="Asveze"></ion-radio>
        </ion-item>
      </ion-radio-group>

      <ion-card-header></ion-card-header>

      <ion-radio-group>
        <ion-card-title>8 - Sinto dificuldades de concentração. </ion-card-title>
        <ion-item>
          <ion-label>Sim</ion-label>
          <ion-radio value="Sim"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Não </ion-label>
          <ion-radio value="Nao"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>As vezes</ion-label>
          <ion-radio value="Asveze"></ion-radio>
        </ion-item>
      </ion-radio-group>

      <ion-card-header></ion-card-header>

      <ion-radio-group>
        <ion-card-title>9 - Meu apetite aumentou significativamente. </ion-card-title>
        <ion-item>
          <ion-label>Sim</ion-label>
          <ion-radio value="Sim"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Não </ion-label>
          <ion-radio value="Nao"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>As vezes</ion-label>
          <ion-radio value="Asveze"></ion-radio>
        </ion-item>
      </ion-radio-group>

      <ion-card-header></ion-card-header>

      <ion-radio-group>
        <ion-card-title>10 - Sinto muito sono, (durmo demais e mesmo assim fico com sono a maior parte do tempo). </ion-card-title>
        <ion-item>
          <ion-label>Sim</ion-label>
          <ion-radio value="Sim"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Não </ion-label>
          <ion-radio value="Nao"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>As vezes</ion-label>
          <ion-radio value="Asveze"></ion-radio>
        </ion-item>
      </ion-radio-group>

      <ion-card-header></ion-card-header>

      <ion-radio-group>
        <ion-card-title>11 - Sinto-me inadequado(a),(no ambiente social, no trabalho ou como pessoa). </ion-card-title>
        <ion-item>
          <ion-label>Sim</ion-label>
          <ion-radio value="Sim"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Não </ion-label>
          <ion-radio value="Nao"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>As vezes</ion-label>
          <ion-radio value="Asveze"></ion-radio>
        </ion-item>
      </ion-radio-group>

      <ion-card-header></ion-card-header>

      <ion-radio-group>
        <ion-card-title>12 - Desinteresse diminuído para realizar as atividades de rotina diária. </ion-card-title>
        <ion-item>
          <ion-label>Sim</ion-label>
          <ion-radio value="Sim"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Não </ion-label>
          <ion-radio value="Nao"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>As vezes</ion-label>
          <ion-radio value="Asveze"></ion-radio>
        </ion-item>
      </ion-radio-group>

      <ion-card-header></ion-card-header>

      <ion-radio-group>
        <ion-card-title>13 - Sinto-me indisposto (a). </ion-card-title>
        <ion-item>
          <ion-label>Sim</ion-label>
          <ion-radio value="Sim"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Não </ion-label>
          <ion-radio value="Nao"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>As vezes</ion-label>
          <ion-radio value="Asveze"></ion-radio>
        </ion-item>
      </ion-radio-group>

      <ion-card-header></ion-card-header>

      <ion-radio-group>
        <ion-card-title>14 - Sinto-me irritado (a). </ion-card-title>
        <ion-item>
          <ion-label>Sim</ion-label>
          <ion-radio value="Sim"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Não </ion-label>
          <ion-radio value="Nao"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>As vezes</ion-label>
          <ion-radio value="Asveze"></ion-radio>
        </ion-item>
      </ion-radio-group>

      <ion-card-header></ion-card-header>

      <ion-radio-group>
        <ion-card-title>15 - Sinto-me desinteressado (a) pela vida social. </ion-card-title>
        <ion-item>
          <ion-label>Sim</ion-label>
          <ion-radio value="Sim"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Não </ion-label>
          <ion-radio value="Nao"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>As vezes</ion-label>
          <ion-radio value="Asveze"></ion-radio>
        </ion-item>
      </ion-radio-group>

      <ion-card-header></ion-card-header>

      <ion-radio-group>
        <ion-card-title>16 - Desinteresse por sexo. </ion-card-title>
        <ion-item>
          <ion-label>Sim</ion-label>
          <ion-radio value="Sim"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Não </ion-label>
          <ion-radio value="Nao"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>As vezes</ion-label>
          <ion-radio value="Asveze"></ion-radio>
        </ion-item>
      </ion-radio-group>

      <ion-card-header></ion-card-header>

      <ion-radio-group>
        <ion-card-title>17 - Tenho insônia. </ion-card-title>
        <ion-item>
          <ion-label>Sim</ion-label>
          <ion-radio value="Sim"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Não </ion-label>
          <ion-radio value="Nao"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>As vezes</ion-label>
          <ion-radio value="Asveze"></ion-radio>
        </ion-item>
      </ion-radio-group>

      <ion-card-header></ion-card-header>

      <ion-radio-group>
        <ion-card-title>18 - Sinto-me frágil emocionalmente. </ion-card-title>
        <ion-item>
          <ion-label>Sim</ion-label>
          <ion-radio value="Sim"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Não </ion-label>
          <ion-radio value="Nao"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>As vezes</ion-label>
          <ion-radio value="Asveze"></ion-radio>
        </ion-item>
      </ion-radio-group>

      <ion-card-header></ion-card-header>

      <ion-radio-group>
        <ion-card-title>19 - Ouço vozes. </ion-card-title>
        <ion-item>
          <ion-label>Sim</ion-label>
          <ion-radio value="Sim"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Não </ion-label>
          <ion-radio value="Nao"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>As vezes</ion-label>
          <ion-radio value="Asveze"></ion-radio>
        </ion-item>
      </ion-radio-group>

      <ion-card-header></ion-card-header>

      <ion-radio-group>
        <ion-card-title>20 - Sinto-me indeciso (a). </ion-card-title>
        <ion-item>
          <ion-label>Sim</ion-label>
          <ion-radio value="Sim"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Não </ion-label>
          <ion-radio value="Nao"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>As vezes</ion-label>
          <ion-radio value="Asveze"></ion-radio>
        </ion-item>
      </ion-radio-group>

      <ion-card-header></ion-card-header>

      <ion-radio-group>
        <ion-card-title>21 - Tenho esquecimentos frequentes. </ion-card-title>
        <ion-item>
          <ion-label>Sim</ion-label>
          <ion-radio value="Sim"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Não </ion-label>
          <ion-radio value="Nao"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>As vezes</ion-label>
          <ion-radio value="Asveze"></ion-radio>
        </ion-item>
      </ion-radio-group>

      <ion-card-header></ion-card-header>

      <ion-radio-group>
        <ion-card-title>22 - Choro frequentemente sem motivo aparente. </ion-card-title>
        <ion-item>
          <ion-label>Sim</ion-label>
          <ion-radio value="Sim"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Não </ion-label>
          <ion-radio value="Nao"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>As vezes</ion-label>
          <ion-radio value="Asveze"></ion-radio>
        </ion-item>
      </ion-radio-group>

      <ion-card-header></ion-card-header>

      <ion-radio-group>
        <ion-card-title>23 - Sinto-me agitado (a). </ion-card-title>
        <ion-item>
          <ion-label>Sim</ion-label>
          <ion-radio value="Sim"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Não </ion-label>
          <ion-radio value="Nao"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>As vezes</ion-label>
          <ion-radio value="Asveze"></ion-radio>
        </ion-item>
      </ion-radio-group>

       <ion-card-header></ion-card-header>

      <ion-radio-group>
        <ion-card-title>24 - Sinto cansaço exagerado. </ion-card-title>
        <ion-item>
          <ion-label>Sim</ion-label>
          <ion-radio value="Sim"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Não </ion-label>
          <ion-radio value="Nao"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>As vezes</ion-label>
          <ion-radio value="Asveze"></ion-radio>
        </ion-item>
      </ion-radio-group>

      <ion-card-header></ion-card-header>

      <ion-radio-group>
        <ion-card-title>25 - Tenho medo que algo terrível aconteça comigo. </ion-card-title>
        <ion-item>
          <ion-label>Sim</ion-label>
          <ion-radio value="Sim"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Não </ion-label>
          <ion-radio value="Nao"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>As vezes</ion-label>
          <ion-radio value="Asveze"></ion-radio>
        </ion-item>
      </ion-radio-group>

      <ion-card-header></ion-card-header>

      <ion-radio-group>
        <ion-card-title>26 - Sinto-me sonolento(a). </ion-card-title>
        <ion-item>
          <ion-label>Sim</ion-label>
          <ion-radio value="Sim"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Não </ion-label>
          <ion-radio value="Nao"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>As vezes</ion-label>
          <ion-radio value="Asveze"></ion-radio>
        </ion-item>
      </ion-radio-group>

      <ion-card-header></ion-card-header>

      <ion-radio-group>
        <ion-card-title>27 - Sinto-me fracassado(a) e/ou inútil(profissionalmente, pessoal ou afetivo). </ion-card-title>
        <ion-item>
          <ion-label>Sim</ion-label>
          <ion-radio value="Sim"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Não </ion-label>
          <ion-radio value="Nao"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>As vezes</ion-label>
          <ion-radio value="Asveze"></ion-radio>
        </ion-item>
      </ion-radio-group>

      <ion-card-header></ion-card-header>

      <ion-radio-group>
        <ion-card-title>28 - Tenho a sensação de que posso perder o controle sobre mim. </ion-card-title>
        <ion-item>
          <ion-label>Sim</ion-label>
          <ion-radio value="Sim"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Não </ion-label>
          <ion-radio value="Nao"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>As vezes</ion-label>
          <ion-radio value="Asveze"></ion-radio>
        </ion-item>
      </ion-radio-group>

      <ion-card-header></ion-card-header>

      <ion-radio-group>
        <ion-card-title>29 - Humor deprimido. </ion-card-title>
        <ion-item>
          <ion-label>Sim</ion-label>
          <ion-radio value="Sim"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Não </ion-label>
          <ion-radio value="Nao"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>As vezes</ion-label>
          <ion-radio value="Asveze"></ion-radio>
        </ion-item>
      </ion-radio-group>

      <ion-card-header></ion-card-header>

      <ion-radio-group>
        <ion-card-title>30 - Sinto dores e outros sintomas físicos não justificados
         por problemas médicos como: dor de cabeça frequente, dor na região abdominal, 
         má digestão, pressão no peito, constipação, tensão na nuca, ombros e dores no corpo. </ion-card-title>
        <ion-item>
          <ion-label>Sim</ion-label>
          <ion-radio value="Sim"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Não </ion-label>
          <ion-radio value="Nao"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>As vezes</ion-label>
          <ion-radio value="Asveze"></ion-radio>
        </ion-item>
      </ion-radio-group>

      <ion-card-header></ion-card-header>

      <ion-radio-group>
        <ion-card-title>31 - Sensação de peso nas pernas ou nos braços. </ion-card-title>
        <ion-item>
          <ion-label>Sim</ion-label>
          <ion-radio value="Sim"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Não </ion-label>
          <ion-radio value="Nao"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>As vezes</ion-label>
          <ion-radio value="Asveze"></ion-radio>
        </ion-item>
      </ion-radio-group>

      <ion-card-header></ion-card-header>

      <ion-radio-group>
        <ion-card-title>31 - Baseado nas questões acima, há quanto tempo sente esses sintomas? </ion-card-title>
        <ion-item>
          <ion-label>Duas semanas ou mais</ion-label>
          <ion-radio value="Sim"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Durante dois anos ou mais</ion-label>
          <ion-radio value="Nao"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Por mais de duas semanas, <br>porém sinto de quatro a cinco<br> sintomas ou mais frequentemente</ion-label>
          <ion-radio value="Asveze"></ion-radio>
        </ion-item>
      </ion-radio-group>

    </ion-list>
  </ion-card-content>
  </ion-card>

  <ion-button expand="block" [routerLink]="['/']">
       Resultado
</ion-button>



</ion-content>
