<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sobre o App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card>
  <img class="img" src="https://dhg1h5j42swfq.cloudfront.net/2016/12/19203421/Adinoel-ENEM-aluno-em-d%C3%BAvida-300x194.png"/>
    <ion-card-content>
      
      <ion-card-title>
       <div class='titulo'>O aplicativo é um estudo para Trabalho de Conclusão de Curso.</div>
      </ion-card-title>
          
          <ion-card-header></ion-card-header>
          
          <div class='paragrafos'>
            Possibilita uma autoavaliação da condição mental. Propondo descrever e aplicar um método de 
            aprendizado de máquina supervisionada para diagnosticar depressão e classificá-la quanto 
            aos seus tipos;transtorno depressivo maior, melancolia, distimia, depressão integrante do transtorno bipolar.
          </div>
        
    </ion-card-content>
  </ion-card>

  <!--
    <ion-card>
      <ion-card-content> 
        <div class='paragrafos'>
        Em termos mundiais, estima-se que em 2020 a depressão será a segunda causa de 
        incapacidade em saúde. De acordo com a Organização Mundial da Saúde (OMS), 
        pelo menos 350 milhões de pessoas vivem com depressão. 
         </div>
      </ion-card-content>
    </ion-card>
-->

</ion-content>