<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sobre o App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  
      <ion-card>
      <ion-card-content> 
        <div class='paragrafos'>
        A detecção automática de sintomas depressivos pode melhorar,
         potencialmente, a precisão e a agilidade do diagnóstico, 
         levando a uma intervenção mais rápida e, consequentemente, 
         respostas terapêuticas positivas.
         </div>
      </ion-card-content>
    </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-card-title>
        O aplicativo é um estudo para Trabalho de Conclusão de Curso para
        obtenção do título de Tecnólogo em Sistemas para Internet. 
      </ion-card-title>
        
          <div class='paragrafos'>
            O aplicativo visa fazer uma avaliação do usuario sobre sua condição mental. 
            Pois a praticidade do dispositivo móvel possibilita uma autoavaliação da condição 
            de quem o usa e, posteriormente, encaminhamento para medidas terapêuticas, 
            tais como direcionamento ao médico psiquiatra ou psicóloga, a depender do caso.
            Desta forma, o app propõe descrever e aplicar um método de aprendizado 
            de máquina supervisionada para diagnosticar depressão e classificá-la quanto aos seus tipos;
            transtorno depressivo maior, melancolia, distimia, depressão integrante do transtorno bipolar 
            tipos I e II e depressão como parte da ciclotimia. 
          </div>
        
    </ion-card-content>
  </ion-card>
</ion-content>