<ion-header>
  <ion-toolbar>
   <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Teste de Auto Avaliação</ion-title>
    <ion-title> da Depressão (de Zung)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  <ion-card-header>
    <ion-card-title>15 - Sou mais irritável do que normalmente. </ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-list>
  <ion-radio-group>
    

    <ion-item>
      <ion-label>1 - Nunca</ion-label>
      <ion-radio value="cord"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>2 - As vezes </ion-label>
      <ion-radio value="duesenberg"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>3 - Frequentemente</ion-label>
      <ion-radio value="hudson"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>4 - Quase sempre</ion-label>
      <ion-radio value="packard"></ion-radio>
    </ion-item>
  </ion-radio-group>

</ion-list>

  <ion-button expand="block" [routerLink]="['/p16']">
       PRÓXIMO <ion-icon name="arrow-round-forward"></ion-icon>
      </ion-button>

  </ion-card-content>
</ion-card>

</ion-content>
