<ion-header>
  <ion-toolbar>
    <ion-title>distimia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-content>
  <img class="img" src="https://cdn.pixabay.com/photo/2017/08/10/03/47/guy-2617866_960_720.jpg"/>
    <div class='paragrafos'>
     
    </div>
  </ion-card-content>

  <ion-card-header>
     <ion-card-title> Você tem distimia! </ion-card-title>
  </ion-card-header>

</ion-card>

 <ion-button expand="block" [routerLink]="['/']">
       Voltar
</ion-button>

</ion-content>