<ion-header translucent>
  <ion-toolbar>
    <ion-title>
      <ion-label>Problema desndo desconberto</ion-label>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{{this.pService.getPagina()}}/35</b>
    </ion-title>
    <ion-progress-bar color="dark" value="{{progresso}}"></ion-progress-bar>
  </ion-toolbar>
</ion-header>,
<ion-content fullscreen>
  <ion-card>

  </ion-card>
  <img class="img" src="https://cdn.pixabay.com/photo/2017/08/10/03/47/guy-2617866_960_720.jpg"/>
    <div class='paragrafos'>
    </div>
  </ion-card-content>
  <ion-card-header>
     <ion-card-title> Você tem distimia! </ion-card-title>
  </ion-card-header>
</ion-card>
 <ion-button expand="block" [routerLink]="['/']">
       Voltar
</ion-button>
</ion-content>

