<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
     <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Teste de Auto Avaliação da</ion-title>
    <ion-title>Depressão</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
  

  <ion-card-content>
    <div class='paragrafos'>
      Depressão é uma doença que afeta um número significativo de pessoas nos dias atuais.
      Mas apesar dos dados ainda percebemos uma dificuldade muito grande para aceitação da 
      depressão como doença e assim uma dificuldade de se procurar ajuda especializada
      com médicos e psicólogos. A teste a seguir visa auxiliar o usuário em uma auto avaliação.
    </div>
  </ion-card-content>

  <ion-card-header>
    
    <ion-card-title>Responda rapidamente a seguir sem refletir muito.</ion-card-title>
    <ion-card-subtitle></ion-card-subtitle>
  </ion-card-header>

</ion-card>

<ion-button expand="block" [routerLink]="['/p1']">
       Auto Avaliação
</ion-button>

</ion-content>
