<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>AVALIAÇÃO</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

<ion-card>
  <ion-card-content>
    
    <ion-card-title>Você tem um humor deprimido na maior parte do dia e quase todos os dias?</ion-card-title>

    <ion-item>
            <ion-label>Sim  <ion-icon name="sad" ></ion-icon></ion-label>
            <ion-checkbox color="primary" checked slot="start" checked="false"></ion-checkbox>
    </ion-item>

    <ion-item>
            <ion-label>Não  <ion-icon name="happy"></ion-icon></ion-label>
            <ion-checkbox color="primary" checked slot="start" checked="false"></ion-checkbox>
    </ion-item>

  </ion-card-content>

  <ion-card-content>
    <ion-card-title>Você tem uma grande diminuição de interesse ou prazer em todas ou quase todas as atividades na maior parte do dia?</ion-card-title>
       <ion-item>
            <ion-label>Sim  <ion-icon name="sad" ></ion-icon></ion-label>
            <ion-checkbox color="primary" checked slot="start" checked="false"></ion-checkbox>
    </ion-item>

    <ion-item>
            <ion-label>Não  <ion-icon name="happy"></ion-icon></ion-label>
            <ion-checkbox color="primary" checked slot="start" checked="false"></ion-checkbox>
    </ion-item>
  </ion-card-content>

  <ion-card-content>
    <ion-card-title>Você tem uma Perda ou ganho significativo de peso sem estar fazendo dieta (por exemplo, 
                    mudança de mais de 5% do peso corporal em menos de um mês) ou redução ou aumento no apetite 
                    quase todos os dias?
    </ion-card-title>
       <ion-item>
            <ion-label>Sim  <ion-icon name="sad" ></ion-icon></ion-label>
            <ion-checkbox color="primary" checked slot="start" checked="false"></ion-checkbox>
    </ion-item>

    <ion-item>
            <ion-label>Não  <ion-icon name="happy"></ion-icon></ion-label>
            <ion-checkbox color="primary" checked slot="start" checked="false"></ion-checkbox>
    </ion-item>
  </ion-card-content>

   <ion-card-content>
    <ion-card-title>Insônia ou hipersonia quase diária?</ion-card-title>
       <ion-item>
            <ion-label>Sim  <ion-icon name="sad" ></ion-icon></ion-label>
            <ion-checkbox color="primary" checked slot="start" checked="false"></ion-checkbox>
    </ion-item>

    <ion-item>
            <ion-label>Não  <ion-icon name="happy"></ion-icon></ion-label>
            <ion-checkbox color="primary" checked slot="start" checked="false"></ion-checkbox>
    </ion-item>
  </ion-card-content>

  <ion-card-content>
    <ion-card-title>Agitação ou retardo psicomotor (lentificação generalizada visível 
                    dos movimentos e da fala) quase todos os dias.
    </ion-card-title>
       <ion-item>
            <ion-label>Sim  <ion-icon name="sad" ></ion-icon></ion-label>
            <ion-checkbox color="primary" checked slot="start" checked="false"></ion-checkbox>
    </ion-item>

    <ion-item>
            <ion-label>Não  <ion-icon name="happy"></ion-icon></ion-label>
            <ion-checkbox color="primary" checked slot="start" checked="false"></ion-checkbox>
    </ion-item>
  </ion-card-content>


   <ion-card-content>
    <ion-card-title>Fadiga ou perda de energia quase todos os dias.</ion-card-title>
       <ion-item>
            <ion-label>Sim  <ion-icon name="sad" ></ion-icon></ion-label>
            <ion-checkbox color="primary" checked slot="start" checked="false"></ion-checkbox>
    </ion-item>

    <ion-item>
            <ion-label>Não  <ion-icon name="happy"></ion-icon></ion-label>
            <ion-checkbox color="primary" checked slot="start" checked="false"></ion-checkbox>
    </ion-item>
  </ion-card-content>


  <ion-card-content>
    <ion-card-title>Sentimentos de inutilidade ou culpa excessiva ou inapropriada 
                    (que podem ser delirantes) quase todos os dias (não meramente
                     autorrecriminação ou culpa por estar doente).
    </ion-card-title>
       <ion-item>
            <ion-label>Sim  <ion-icon name="sad" ></ion-icon></ion-label>
            <ion-checkbox color="primary" checked slot="start" checked="false"></ion-checkbox>
    </ion-item>

    <ion-item>
            <ion-label>Não  <ion-icon name="happy"></ion-icon></ion-label>
            <ion-checkbox color="primary" checked slot="start" checked="false"></ion-checkbox>
    </ion-item>
  </ion-card-content>


  <ion-card-content>
    <ion-card-title>Capacidade diminuída para pensar ou se concentrar, ou indecisão quase
                     todos os dias (por relato subjetivo ou observação feita por outra pessoa).
    </ion-card-title>
       <ion-item>
            <ion-label>Sim  <ion-icon name="sad" ></ion-icon></ion-label>
            <ion-checkbox color="primary" checked slot="start" checked="false"></ion-checkbox>
    </ion-item>

    <ion-item>
            <ion-label>Não  <ion-icon name="happy"></ion-icon></ion-label>
            <ion-checkbox color="primary" checked slot="start" checked="false"></ion-checkbox>
    </ion-item>
  </ion-card-content>
  

  <ion-card-content>
    <ion-card-title>Pensamentos recorrentes de morte (não somente medo de morrer), 
                    ideação suicida recorrente sem um plano específico, tentativa
                    de suicídio ou plano específico para cometer suicídio.
    </ion-card-title>
       <ion-item>
            <ion-label>Sim  <ion-icon name="sad" ></ion-icon></ion-label>
            <ion-checkbox color="primary" checked slot="start" checked="false"></ion-checkbox>
    </ion-item>

    <ion-item>
            <ion-label>Não  <ion-icon name="happy"></ion-icon></ion-label>
            <ion-checkbox color="primary" checked slot="start" checked="false"></ion-checkbox>
    </ion-item>
  </ion-card-content>


</ion-card>


<ion-button expand="block" [routerLink]="['/']">
       RESULTADO
</ion-button>

</ion-content>