<ion-header>
  <ion-toolbar>
    <ion-title style="text-align:center;">
     DEPRESSÃO: <br> O MAL DO SÉCULO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<div style="text-align:center;">
  <img src="https://abrilsaude.files.wordpress.com/2019/07/cerebro-choques-depressao.png?quality=85&strip=info&resize=680,453"/>
</div>

<ion-card>
    <div style="text-align:center;">
        <h1>Um pouco sobre</h1>
    </div>

      <ion-card-content> 
        A doença mental atinge mais de 300 milhões de pessoas 
        de todas as idades no mundo, segundo a Organização Mundial 
        da Saúde (OMS). No Brasil, a estimativa é que 5,8% da população
        seja afetada pela doença.
      </ion-card-content>

      <ion-card-content> 
        Depressão (CID 10 – F33) é uma doença psiquiátrica crônica
        e recorrente que produz uma alteração do humor caracterizada 
        por uma tristeza profunda, sem fim, associada a sentimentos de dor,
        amargura, desencanto, desesperança, baixa autoestima e culpa, assim
        como a distúrbios do sono e do apetite.
      </ion-card-content>

      <ion-card-content> 
        É imprescindível o acompanhamento médico tanto para o diagnóstico 
        quanto para o tratamento adequado.Considerada (OMS) como o "Mal do Século". 
        No sentido patológico, há presença de tristeza, pessimismo, baixa auto-estima,
         que aparecem com freqüência e podem combinar-se entre si.
      </ion-card-content>

      <ion-card-content>
        A depressão provoca ainda ausência de prazer em coisas que antes faziam 
        bem e grande oscilação de humor e pensamentos, que podem culminar em 
        comportamentos e atos suicidas. O tratamento é feito com auxílio médico 
        profissional, por meio de medicamentos, e acompanhamento terapêutico 
        conforme cada caso. O apoio da família é fundamental.
      </ion-card-content>

</ion-card>

<ion-button expand="block" [routerLink]="['/sobre-zung']">
       Sobre Teste de Zung
</ion-button>

</ion-content>